In [13]:
import pandas as pd
import re

In [7]:
zipcodes  = pd.read_csv('CAZips.csv')

In [8]:
zipcodes.head()

   Zip Code         City       County  Unnamed: 3
0     90001  Los Angeles  Los Angeles         1.0
1     90002  Los Angeles  Los Angeles         NaN
2     90003  Los Angeles  Los Angeles         NaN
3     90004  Los Angeles  Los Angeles         NaN
4     90005  Los Angeles  Los Angeles         NaN

In [11]:
almond_board = pd.read_csv('Master CA Water Utility CRM Draft - OWRS-Raftelis Rate Survey.csv', skiprows=1)

In [12]:
almond_board.head()

,Survey Year,County,Service Area,Water Service Provider,VLOOKUP w/ALMOND TAB,Effective Date,Billing Frequency,Fixed Charge,Commodity Charge,Total Charge,Rate Format,Service Population,Current Avg. Res. Usage,Res.Connection Fee
0,2013.0,NaN,Oakland plus 19 other cities,East Bay Municipal Utility District,"Palm Springs, CA 92264",10/15/14,Bi-monthly,14.51,40.94,55.45,Inclining,1300000.0,10.0,15020
1,2013.0,NaN,San Diego,City of San Diego,"Santa Clarita, CA 91350",3/4/15,Bi-monthly,19.33,57.1,76.43,Inclining,1300000.0,12.0,3047
2,2015.0,NaN,San Jose,San Jose Water Company,"Redlands, CA 92373",9/13/14,Bi-monthly,21.05,55.05,76.10,Inclining,1044400.0,13.0,NaN
3,2013.0,NaN,Riverside,Western Municipal Water District,"Westley, CA 95387",2/2/15,Monthly,22.38,33.3,55.68,Budget,880000.0,NaN,NaN
4,2013.0,SAN FRANCISCO,"San Francisco, CA",San Francisco Public Utilities Commission,"Redlands, CA 92373",3/19/15,Monthly,7.9,74.1,82.00,Inclining,827000.0,6.0,580

In [18]:
almond_board['VLOOKUP w/ALMOND TAB'].str.extract('*<digit>')

/Users/vipassana/cusp/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':

error: nothing to repeat